//
   Created by Владелец on 22.12.2016.

doctype html
extends ./index.jade
block append content
   div.container.signup
      h2 Pollname: #{title}
      h2 Author: #{username}
      canvas#myChart
   div.options-submit
      div
         a(href="https://votemeup.herokuapp.com/poll/"+title) https://votemeup.herokuapp.com/poll/ #{title}
      form(action="/poll/"+title method="POST")
         - if (optionsName.length)
           -for (var i = 0; i < optionsName.length; i++)
            button.btn.btn-default.optionsBtn(name="name" value=optionsName[i])= optionsName[i]
   script.
      var optionsSize = !{JSON.stringify(optionsSize)};
      var optionsName = !{JSON.stringify(optionsName)};

   script(src="js/Chart.js" type='text/javascript')
   script(src="js/chartOn.js" type='text/javascript')